<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#/">ContractFix</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/">Logout</a>
                </li>
                <li>
                    <a href="#/editor">Editor</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<br>
<br>
<br>

<!-- Main -->
<div class="container">
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-3">
      <!-- left -->
      <h3><i class="fa fa-tachometer"></i> Dashboard</h3>
      <hr>

      <ul class="nav nav-stacked">
        <li><a href="" target="ext"><i class="fa fa-folder-open-o"></i> My Contracts</a></li>
        <li><a href="#/editor" target="ext"><i class="fa fa-pencil-square-o"></i> New Contract</a></li>
        <li><a href="" target="ext"><i class="fa fa-user"></i> Settings</a></li>
      </ul>

      <hr>

    </div><!-- /span-3 -->
    <div class="col-sm-9">
      <!-- column 2 -->
      <h3>Welcome username</h3>
      <hr>
      <ul>
        <li style="cursor:pointer" ng-click="handleClick(contract)" ng-repeat="contract in contracts">{{ contract }}</li>
      </ul>
    </div><!--/col-span-9-->
  </div><!--/row-->
<!-- /upper section -->



</div><!-- /Main -->

  