<!-- Signature modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="confirmSignature">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign contract</h4>
      </div>
      <div class="modal-body" contenteditable="true">
        Are you sure you want to sign the contract?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="ckEditor.sign()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- PRIMARY/SECONDARY NAVIGATION AND EDITOR TEMPLATE -->
<div class="row">
<div id="placeholdernav">
  <nav class="navbar navbar-default fade-object" id="top-bar">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Mobile navigation -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Contract<b>Fix</b></a>
      </div>

      <!-- Links for medium to large viewports -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#/editor">Editor<span class="sr-only">(current)</span></a></li>
          <li><a href="#/dashboard">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#">Settings</a></li>
        </ul>
      </div><!-- end navbar-collapse -->
    </div><!-- end container-fluid -->
  </nav>
</div>


<!-- ckEditor content area -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" id="left-panel">
        <div class="fade-object">
        <h3><span class="glyphicon glyphicon-pencil"></span> Editor</h3>
      <hr>

      <ul class="nav nav-stacked">
        <li id="save"><a href="" target="ext" ng-click="ckEditor.save(true)"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save Draft</a></li>
        <li id="show-edit-changes"><a href="" target="ext" ng-click="ckEditor.showChanges()"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ buttonText }}</a></li>
        <li id="reject-changes"><a href="" target="ext" ng-click="ckEditor.rejectChanges()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject Changes</a></li>
        <li id="accept-changes"><a href="" target="ext" ng-click="ckEditor.acceptChanges()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept Changes</a></li>
        <li><a href="" target="ext" ng-click="ckEditor.save(false)"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send Draft</a></li>
        <li><a href="" target="ext" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Sign Contract</a></li>
      </ul>

      <hr>
</div>
      </div>
      <div class="col-md-8">
            <form method="post">
        <p>
            <h3>Contract:</h3> <!-- placeholder: interpolate contract name --><br>
            <div contenteditable="true" ng-click="ckEditor.handleClick($event)" name="contractEditor" id="contractEditor"></div>
            <!-- Initialize editor by replacing textarea element-->
        </p>
    </form>

      </div>
      <div class="col-md-2" id="left-menu">
        <pre ng-if="selection">{{ selection }}</pre>
        <textarea ng-model="comment" id="comment-box" placeholder="Enter a comment..." style="width:100%"></textarea>
        <button class = "add-comment" ng-click="ckEditor.addComment()"> Add Comment </button>
        <div class="comment-card" ng-repeat="comment in comments">
          <pre ng-if="comment.selection">{{ comment.selection }}</pre>
          <p>{{ comment.comment }}</p>
          <button class="delete-comment" ng-click="ckEditor.deleteComment(comment)"> Delete </button>
        </div>
      </div>
  </div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
});
</script>
<style>
#placeholdernav {
  height: 60px;
}

#top-bar, #top-bar a {
  color:#A7FAE6;
}

#top-bar a:hover {
  color: #fff;
}

#contractEditor {
  font: 20px/1.5 'Source Code Pro';
  color: #323232;
  outline: none;
}

</style>