@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*  ################################################################
    1. GENERAL STRUCTURES
################################################################# */
* { 
    margin: 0;
    padding: 0px;
} 
body { 
    background: #ffffff; 
    margin: 0; 
    height: 100%; 
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p { 
    padding: 0; 
    margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    line-height: 24px;
    color: #384452; 
    margin-top: 10px; 
}

img {
    height: auto;
    max-width: 100%;
}

a { 
    padding: 0;
    margin: 0;
    text-decoration: none; 
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}
::selection {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}

.centered {
    text-align: center
}
/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
    font-size: 25px;
    font-style: italic;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

.dropdown-menu {
    background: #384452;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}
.dmbutton {
    background:rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing:0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.hline {
    border-bottom: 2px solid #384452;
}

.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}
/*  ################################################################
    SITE WRAPS
################################################################# */

#headerwrap {
    background-color: #00b3fe;
    min-height: 550px;
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
}

#headerwrap h3, h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}

/* Services Wrap */
#service {
    margin-top: 50px;
    margin-bottom: 80px;
}

#service i {
    color: #00b3fe;
    font-size: 60px;
    padding: 15px;
}

/* Footer */
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #384452;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe
}

/*  ################################################################
    PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
    background: #00b3fe;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue h3 {
    color: white;
    margin-left: 15px;
}

.ctitle {
    color: #00b3fe;
    font-weight: 700;
    margin-bottom: 15px;
}

csmall {
    font-size: 12px;
    color: #b3b3b3;
}
csmall2 {
    font-size: 12px;
    color: #f39c12
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #00b3fe;
}

/* Contact Page */
#contactwrap {
    background: url(../img/contact.jpg) no-repeat center top;
    margin-top: -60px;
    padding-top:0px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*    --------------------------------------------------
    :: Login Section
    -------------------------------------------------- */
#login {
    padding-top: 120px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}

#login .btn.btn-custom {
    font-size: 18px;
    margin-bottom: 20px;
    background: #0099cc;
    color: #ffffff;

}
#login .forgot {
    font-size: 15px;
    text-align: center;
    display: block;
}
#login .signup {
    text-align: center;
    display: block;
    font-size: 15px;
}
.showPassword {
    text-align: center;
}

/*    --------------------------------------------------
    :: Inputs & Buttons
    -------------------------------------------------- */
.form-control {
    
}
.btn-custom {
    background: #0099cc;
    color: #ffffff;   
}
.btn-default {
    background: #0099cc;
    color: #ffffff; 
}
.btn-custom:hover,
.btn-custom:focus {
    color: #ffffff;;
}
/*    --------------------------------------------------
    :: Signup Section
    -------------------------------------------------- */
#signup {
    padding-top: 120px
}
#signup .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#signup h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#signup .form-group {
    margin-bottom: 25px;
}

#signup .btn.btn-custom {
    font-size: 18px;
    margin-bottom: 20px;
}

#signup .signup {
    text-align: center;
    display: block;
    font-size: 15px;
}
.re-send {
    text-align: center;
}
.showPassword {
    text-align: center;
}

/*    --------------------------------------------------
    :: Email Verification Section
    -------------------------------------------------- */
#verifyemail {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*    --------------------------------------------------
    :: Password Forgot Section
    -------------------------------------------------- */
#forgotPassword {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*    --------------------------------------------------
    :: Password Reset Section
    -------------------------------------------------- */
#resetPassword {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.showPassword {
    text-align: center;
}

/*    --------------------------------------------------
    :: Enter Fullname Section
    -------------------------------------------------- */
#enterFullname {
    text-align: center;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

/*    --------------------------------------------------
    :: Editor Section
    -------------------------------------------------- */
::-webkit-input-placeholder {
    text-align: center;
}

#contractEditor {
  font: 18px/1.5 'Source Code Pro';
  color: #323232;
}

#page-content-wrapper-editor {
    padding: 15px;
    width: 100%;
    padding-top: 30px;
}

#editorBody {
    background: #F2F2F2;
    border: 2px solid #A4A4A4;

}
#editorTitle {
    text-align: center;
}

#commentBox {
    
}
/*    --------------------------------------------------
    :: Dashboard & Editor Sidebar Section
    -------------------------------------------------- */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 190px;
    width: 0;
    height: 100%;
    margin-left: -190px;
    overflow-y: auto;
    background: #BDBDBD;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 80%;
    position: absolute;
    padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 21px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #384452;
    font-size: 17px;
    font-weight: 550;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #428BCA;
    font-size: 24px;
    font-weight: 580;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 225px;
    }

    #page-content-wrapper {
        padding: 20px;
    }
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


/*    --------------------------------------------------
    :: User Settings Section
    -------------------------------------------------- */
.showPassword {
    text-align: center;
}
/*    --------------------------------------------------
    :: Invitation Section
    -------------------------------------------------- */

#spinner {
    padding-top: 160px;
    text-align: center;
}
/*    --------------------------------------------------
    :: Templates Section
    -------------------------------------------------- */
.templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.template {
  /*clear: both;*/
  flex-basis: auto;
  border-width: 2px;
  border-style: groove;
  border-radius: 8px;
  border-color: lightgrey;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
  cursor: pointer;
}

.template:hover {
  background-color: #efe;
}

.template img {
  width: 150px;
  height: 220px;
  /*float: left;*/
  margin: 0 5px;
}

.template .title {
  font-weight: 600;
}
/*
.template .original {
  color: #aaa;
  font-size: 12px;
}
*/
.template .info {
  margin-left: 0 5px;
}

#page-content-wrapper-templates {
    padding-right: 15px;
    padding-top: 15px;
}

/*    --------------------------------------------------
    :: What Is It Section
    -------------------------------------------------- */
#whatisit-container {
    padding-bottom: 50px;
}

/*    --------------------------------------------------
    :: How It Works Section
    -------------------------------------------------- */
#blue {
    margin-bottom: 0px;
}
#cwrap {
    padding-bottom: 35px;
    padding-top: 35px;
}
#twrap {
    padding-bottom: 20px;
    background: #00b3fe;
}
#twrap p{
    font-size: 17px;
    font-style: italic;
}
.intro-header {
    background: url(../assets/landingpage.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
    padding-bottom: 0px;
}
#howToUse h3{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}
.listitem {
    background-color: #E6E6E6;
    margin-bottom: 13px;
}
.listitem div.icon {
    margin-left: 15px;
    color: #E18628;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    width: 25px;
    margin-right: 25px;
    display: inline-block;
}

.listitem div.content {
    vertical-align: middle;
    display: inline-block;
    width: 85%;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
}

.listitem .content {
    text-align: left;
}

/*    --------------------------------------------------
    :: Contact Us Section
    -------------------------------------------------- */
#contactus h4{
    text-align: center;
}
